---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDRCP7Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class='js-off-canvas-container c-off-canvas-container'>
      {% include header.html %}
  
      {{ content }}
  
      {% include footer.html %}
    </div>

    <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}">                 </script>
    <script src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}"> </script>
    <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">     </script>
    <script src="{{ '/js/masonry.pkgd.min.js' | prepend: site.baseurl }}">           </script>
    <script src="{{ '/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}">      </script>
    <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">             </script>
    <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">             </script>
    <script src="{{ '/js/instafeed.min.js' | prepend: site.baseurl }}">              </script>
    <script src="{{ '/js/transition.js' | prepend: site.baseurl }}">                 </script>
    <script src="{{ '/js/zoom.min.js' | prepend: site.baseurl }}">                   </script>
    <script src="{{ '/js/app.js' | prepend: site.baseurl }}">                        </script>
  </body>

</html>
